.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;

    & .hero-text {
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: $font-highlight;
    }
}

.card {
    .card-img-wrap {
        overflow: hidden;
        position: relative;
        height: 206px;
        max-height: 320px;

        @media screen and (max-width: 1920px) {
        }

        @media screen and (max-width: 1600px) {
        }

        @media screen and (max-width: 1440px) {
        }

        @media screen and (max-width: 1366px) {
        }

        @media screen and (max-width: 1280px) {
        }

        @media screen and (max-width: 960px) {
            height: auto;
            max-height: none;
        }

        @media screen and (max-width: 768px) {
        }

        @media screen and (max-width: 640px) {
        }

        @media screen and (max-width: 480px) {
        }

        @media screen and (max-width: 240px) {
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.3);
            opacity: 0;
            transition: opacity .25s;
        }
    }

    &:hover img {
        width: 100%;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .card-title {
        height: 50px;
        margin-bottom: 5px;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp: 2;
        /* display: block !important; */
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.card-index{
        .card-img-wrap{
            height: 506px;
            max-height: 506px;

            @media screen and (max-width: 1920px) {
            }

            @media screen and (max-width: 1600px) {
            }

            @media screen and (max-width: 1440px) {
            }

            @media screen and (max-width: 1366px) {
            }

            @media screen and (max-width: 1280px) {
            }

            @media screen and (max-width: 960px) {
                height: auto;
                max-height: none;
            }

            @media screen and (max-width: 768px) {
            }

            @media screen and (max-width: 640px) {
            }

            @media screen and (max-width: 480px) {
            }

            @media screen and (max-width: 240px) {
            }
        }

        .card-text{
            height: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
            -webkit-line-clamp: 5;
            -moz-line-clamp: 5;
            -ms-line-clamp: 5;
            -o-line-clamp: 5;
            display: -webkit-box !important;
            -webkit-box-orient: vertical;
            -ms-box-orient: vertical;
            -o-box-orient: vertical;

            @media screen and (max-width: 1920px) {
            }

            @media screen and (max-width: 1600px) {
            }

            @media screen and (max-width: 1440px) {
            }

            @media screen and (max-width: 1366px) {
            }

            @media screen and (max-width: 1280px) {
            }

            @media screen and (max-width: 960px) {
                height: 50px;
                -webkit-line-clamp: 2;
                -moz-line-clamp: 2;
                -ms-line-clamp: 2;
                -o-line-clamp: 2;
                line-clamp: 2;
            }

            @media screen and (max-width: 768px) {
            }

            @media screen and (max-width: 640px) {
            }

            @media screen and (max-width: 480px) {
            }

            @media screen and (max-width: 240px) {
            }
        }
    }
}


