$get-path-to-assets : "";

//@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

@font-face {
    font-family: 'Noto Sans';
    src: url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Regular.eot);
    src: url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Regular.eot?#iefix) format('embedded-opentype'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Regular.woff2) format('woff2'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Regular.woff) format('woff'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Regular.svg#NotoSansThai-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Bold.eot);
    src: url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Bold.eot?#iefix) format('embedded-opentype'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Bold.woff2) format('woff2'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Bold.woff) format('woff'),
    url(#{$get-path-to-assets}/font/NotoSansThai/NotoSansThai-Bold.svg#NotoSansThai-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Veneer';
    src: url(#{$get-path-to-assets}/font/veneer/Veneer.eot),
    url(#{$get-path-to-assets}/font/veneer/Veneer.woff2) format('woff2'),
    url(#{$get-path-to-assets}/font/veneer/Veneer.woff) format('woff'),
    url(#{$get-path-to-assets}/font/veneer/Veneer.ttf) format('truetype'),
    url(#{$get-path-to-assets}/font/veneer/Veneer.svg) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-base : 'Noto Sans', Arial, Helvetica, sans-serif;
$font-highlight : 'Veneer', 'Noto Sans', Arial, Helvetica, sans-serif;

.text-smaller{
    font-size: smaller !important;
}
