body {
    background-color: #57cae6;
    font-family: $font-base;
}

img[src^="https://i.liadm.com"],
img[src^="https://aa.agkn.com"]{
    display: none !important;
}

.blockquote{
    font-size: 18px;
}

main {
    &:not(.main-section-home) {
        background-color: white;
    }
}

.blog-header {
    @media screen and (max-width: 1920px) {
    }

    @media screen and (max-width: 1600px) {
    }

    @media screen and (max-width: 1440px) {
    }

    @media screen and (max-width: 1366px) {
    }

    @media screen and (max-width: 1280px) {
    }

    @media screen and (max-width: 960px) {
        display: none !important;
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 640px) {
    }

    @media screen and (max-width: 480px) {
    }

    @media screen and (max-width: 240px) {
    }
}

.bg-main {
    background-color: #0072ce;
}

.bg-dark-custom {
    background-color: #243c4b;
}

.bg-yellow {
    background-color: #f1c400;
    color: #0c0c0c;
}

a:hover {
    text-decoration: none;
}

.box-fix {
    max-height: 170px;
}

.fix-height {
    height: auto;
    max-height: 170px;
}

.dotellipsis {
    height: 50px;
    margin-bottom: 5px;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    display: block !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
