/*
 * Main theme
*/
header {
    min-height: 100px;
}

main {
    min-height: 100vh;
}

footer {
    min-height: 100px;
}

.container-fluid {
    margin: 0;
    padding: 0;

    .row {
        margin: 0;
        padding: 0;
    }
}

.topbar {
    @media screen and (max-width: 1920px) {
    }

    @media screen and (max-width: 1600px) {
    }

    @media screen and (max-width: 1440px) {
    }

    @media screen and (max-width: 1366px) {
    }

    @media screen and (max-width: 1280px) {
    }

    @media screen and (max-width: 960px) {
        display: none !important;
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 640px) {
    }

    @media screen and (max-width: 480px) {
    }

    @media screen and (max-width: 240px) {
    }
}

.font-veneer {
    font-family: $font-highlight;
}

.font-monospace {
    font-family: $font-base;
    font-size: 14px;
}

.dropdown {
    &:focus {
        > .dropdown-menu {
            display: block;
        }
    }
}

.megamenu {
    position: static;

    .dropdown-menu {
        border: none;
        width: 100%;
    }

    .bg-dark-custom {
        background-color: #243c4b;
    }

    .megamenu-box-content {
        @media screen and (max-width: 1920px) {
        }

        @media screen and (max-width: 1600px) {
        }

        @media screen and (max-width: 1440px) {
        }

        @media screen and (max-width: 1366px) {
        }

        @media screen and (max-width: 1280px) {
        }

        @media screen and (max-width: 960px) {
            padding: 0;
            padding-top: 14.5px!important;
        }

        @media screen and (max-width: 768px) {
        }

        @media screen and (max-width: 640px) {
        }

        @media screen and (max-width: 480px) {
        }

        @media screen and (max-width: 240px) {
        }

        .list-icons{
            padding: 0 0 0 20px;

            @media screen and (max-width: 1920px) {
            }

            @media screen and (max-width: 1600px) {
            }

            @media screen and (max-width: 1440px) {
            }

            @media screen and (max-width: 1366px) {
            }

            @media screen and (max-width: 1280px) {
            }

            @media screen and (max-width: 960px) {
                padding-left: 10px;
            }

            @media screen and (max-width: 768px) {
            }

            @media screen and (max-width: 640px) {
            }

            @media screen and (max-width: 480px) {
            }

            @media screen and (max-width: 240px) {
            }

            .nav-item{
                display: block;

                &:last-child{
                    .nav-link{
                        border-bottom: 0!important;
                    }
                }

                .nav-link{
                    padding-bottom: 10px !important;
                    padding-top: 10px !important;
                }
            }
        }
    }
}

.navbar-dark {
    .navbar-brand {
        position: relative;

        @media screen and (max-width: 1920px) {
            display: none !important;
        }

        @media screen and (max-width: 1600px) {
        }

        @media screen and (max-width: 1440px) {
        }

        @media screen and (max-width: 1366px) {
        }

        @media screen and (max-width: 1280px) {
        }

        @media screen and (max-width: 960px) {
            display: flex !important;
        }

        @media screen and (max-width: 768px) {
        }

        @media screen and (max-width: 640px) {
        }

        @media screen and (max-width: 480px) {
        }

        @media screen and (max-width: 240px) {
        }

        img {
            height: 48px;
            width: auto;
            position: absolute;
            top: -4px;
            left: 0;
        }

        span {
            margin-left: 40px;
            text-transform: uppercase;
        }

    }

    .navbar-toggler {
        border: 0;
        border-radius: 0;
        outline: 0;
        color: white;

        &:hover {
            color: #ddd;
        }
    }

    #navbarContent {
        @media screen and (max-width: 1920px) {
        }

        @media screen and (max-width: 1600px) {
        }

        @media screen and (max-width: 1440px) {
        }

        @media screen and (max-width: 1366px) {
        }

        @media screen and (max-width: 1280px) {
        }

        @media screen and (max-width: 960px) {
            margin-top: 15px;
        }

        @media screen and (max-width: 768px) {
        }

        @media screen and (max-width: 640px) {
        }

        @media screen and (max-width: 480px) {
        }

        @media screen and (max-width: 240px) {
        }
    }

    .navbar-nav {
        .nav-link {
            font-family: $font-base;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            padding-top: 15px;
            padding-bottom: 15px;

            @media screen and (max-width: 1920px) {
            }

            @media screen and (max-width: 1600px) {
            }

            @media screen and (max-width: 1440px) {
            }

            @media screen and (max-width: 1366px) {
            }

            @media screen and (max-width: 1280px) {
            }

            @media screen and (max-width: 960px) {
            }

            @media screen and (max-width: 768px) {
            }

            @media screen and (max-width: 640px) {
            }

            @media screen and (max-width: 480px) {
            }

            @media screen and (max-width: 240px) {
            }

            &.text-small {
                font-size: 14px;
                border: 0 solid rgb(255 255 255 / 40%);
                border-bottom-width: 1px;
                padding-left: 0;
                transition: opacity 0.2s ease-in;

                .fas {
                    color: rgb(255 255 255 / 40%);
                }
            }

            &:hover{
                color: #ffb400 !important;
            }

            &:focus{
                color: #ffb400 !important;
                background: #243c4b;

                @media screen and (max-width: 1920px) {
                }

                @media screen and (max-width: 1600px) {
                }

                @media screen and (max-width: 1440px) {
                }

                @media screen and (max-width: 1366px) {
                }

                @media screen and (max-width: 1280px) {
                }

                @media screen and (max-width: 960px) {
                    background: transparent;
                }

                @media screen and (max-width: 768px) {
                }

                @media screen and (max-width: 640px) {
                }

                @media screen and (max-width: 480px) {
                }

                @media screen and (max-width: 240px) {
                }
            }

            &.btn-donate {
                background-color: rgb(246 219 55);
                color: #333 !important;
                white-space: nowrap;
            }
        }
    }
}

nav.navbar {
    background-color: rgb(0, 114, 206);
    color: #ffffff;

    @media screen and (max-width: 1920px) {
    }

    @media screen and (max-width: 1600px) {
    }

    @media screen and (max-width: 1440px) {
    }

    @media screen and (max-width: 1366px) {
    }

    @media screen and (max-width: 1280px) {
    }

    @media screen and (max-width: 960px) {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 640px) {
    }

    @media screen and (max-width: 480px) {
    }

    @media screen and (max-width: 240px) {
    }
}

ul.navbar-nav {
    display: inline-block;
    //	width: 100%;

    li.nav-item {
        display: inline-block;

        @media screen and (max-width: 1920px) {
        }

        @media screen and (max-width: 1600px) {
        }

        @media screen and (max-width: 1440px) {
        }

        @media screen and (max-width: 1366px) {
        }

        @media screen and (max-width: 1280px) {
        }

        @media screen and (max-width: 960px) {
            display: block !important;
        }

        @media screen and (max-width: 768px) {
        }

        @media screen and (max-width: 640px) {
        }

        @media screen and (max-width: 480px) {
        }

        @media screen and (max-width: 240px) {
        }
    }
}