.navbar-brand {
  & img {
    max-width: 100px;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

blockquote {
  font-size: 20px;
  color: #526069;
  border-left-width: 2px;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.lift {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
  -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;

  &:hover {
    -webkit-transform: translateY(-0.3333333333rem);
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
  }
}

.btn {
  &.line,
  &.phone,
  &.messenger,
  &.facebook,
  &.pro {
    color: white;
    border-radius: 8px;
    width: 75%;
    text-transform: none;

    img {
      width: 20px;
      float: left;
    }

    & span {
      float: left;
      margin-left: 10px;
    }
  }

  &.line {
    background: #19c12a;
  }

  &.phone {
    background: #a0db13;
  }

  &.messenger {
    background: #1aadbe;
  }

  &.facebook {
    background: #25579f;
  }

  &.pro {
    width: 90%;
    background: #e5001a;
    padding: 15px 15px;
  }
}

.contact-box {
  border: 1px solid #707070;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  &.price {
    color: #707077;

    &.discount:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 96px;
      right: 0;
      height: 0.5em;
      border-top: 3px solid #707077;
      z-index: 1;
      top: 65px;
      width: 153px;
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  }
}

h5.discount {
  color: red;
}

iframe {
  width: 100%;
}

p.category {
  margin-bottom: 0px;
}

.post_date,
.read {
  opacity: 0.5;
}

.navbar.navbar-dark .navbar-toggler-icon {
  background-image: unset;
}
span.hamberger {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.form-control.error {
  border: 1px solid red;
  &:focus {
    box-shadow: 0 0 0 0.2rem #ff00004d;
    border: 1px solid red;
  }
}
.error {
  color: red;
}


