.hamburger {
    padding: 15px 30px 40px 20px;

    &.is-active {
        & svg {
            &:nth-child(2) {
                display: none;
            }

            &:nth-child(1) {
                display: block;
            }
        }
    }

    & svg {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            display: block;
        }
    }
}

svg:hover path {
    cursor: pointer;
    fill: $main-color1;
}

.dropdown-submenu {
    position: relative;

    & .dropdown-menu {
        top: 10px;
        left: 94%;
        margin-left: .1rem;
        margin-right: .1rem;
    }

    & a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 15px;
        top: 1.35em;
    }
}

.dropdown-menu.show {
    & li.dropdown-item {
        padding: 10px;

        & a {
            padding: 0;
        }
    }
}

@media (max-width: 992px) {
    .navbar .dropdown-menu {
        width: 100%;
    }

    .dropdown-submenu .dropdown-menu {
        top: 100%;
        left: 0;
    }
}
